html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  padding: 0.5rem;
}

* {
  box-sizing: border-box;
}

.Container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(min-content, 200px) 1fr;
  gap: 0.5rem;
}

.menu {
  display: flex;
  gap: 1rem;
}

.products .ais-Hits-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}